//dark
$dark: (
  text: #d5d9e6,
  text-secondary: #C0CAF5,
  text-highlight: #ebedf0,
  background: #15151e,
  primary: #1b1c27,
  primary2: #181923,
  primary3: #1f202d,
  accent: #483F60,
  accent2: #5d4f7e,
  border: rgba(255, 255, 255, 0.1),
);

//light
$light: (
  text: #333333,
  text-secondary: #555555,
  text-highlight: #000000,
  background: #f0f0f0,
  primary: #eeeff3,
  primary2: #f9f9f9,
  primary3: #e0e0e0,
  accent: #52A6C4,
  accent2: #99C6D5,
  border: rgba(0, 0, 0, 0.1),
);


