@use '../sass/colors.scss' as *;
@import '../sass/modals.scss';
@import '../sass/scrollbars.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
  font-family: 'Inter', sans-serif;
}
*:focus {
    outline: none;
}

html, body, .main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  color: $text;
  background-color: $background;
}

.main {
  display: grid;
  grid-template-rows: 60px 1fr;
  max-height: 100%;
}

.home-container {
  height: 100%;
  width: 100%;
  background-color: $background;
}

button {
  color: $text;
}

table {
  width: 100%;
  border-spacing: 0 0px;
  color: $text;
}

thead th {
  padding: 12.8px;
  text-align: left;
  position: sticky;
  top: 0px;
  background-color: $primary;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tbody td {
  padding: 15px;
  font-family: monospace;
  font-size: 15px;
  color: $text-secondary;
}

.value-row2 {
  background-color: $primary;
}

.value-row1, .value-row2 {
  white-space: nowrap;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;

  &:hover {
    white-space: normal;
    overflow-wrap: break-word;
    transition-delay:1s;
  }
}
.header {
  background-color: $background;
  box-sizing: border-box;
  color: $text;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
}

.header-logo-container {
  box-sizing: border-box;
  border: 0;
  margin-left: 0.6%;
  margin-right: 0.25%;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.header-logo {
  box-sizing: border-box;
  border: 0;
  height: 60%;
  width: 30%;
}

.header-text {
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 4px;
  padding-bottom: 17px;
  border: 0;
  margin-right: 0.25%;
  font-size: x-large;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

@media only screen and (max-width: 600px) {
  .header-text {
    visibility: hidden;
    display: none;
  }

  .header-logo {
    width: 100%;
  }

  .header-logo-container {
    margin-left: 2%;
    margin-right: 2%;
  }

  .header-wall {
    visibility: hidden;
    display: none;
  }

  .primary-button {
    min-width: 70px !important;
    margin-left: 5px !important;
  }

  .secondary-button {
    min-width: 70px !important;
    margin-left: 5px !important;
  }
}


.header-wall {
  background-color: rgba(255, 255, 255, 0.1);
  width: 1px;
  height: 50%;
  margin-left: 0.6%;
  margin-right: 1%;
}

.primary-button {
  box-sizing: border-box;
  min-width: 90px;
  padding: 13px;
  border: 0;
  margin-right: 0.25%;
  border-radius: 5px;
  background-color: $accent;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  color: $text-highlight; 

  &:hover {
    background-color: $accent2;
  }

  &:active {
    background-color: $accent;
  }
}

.secondary-button {
  box-sizing: border-box;
  min-width: 90px;
  padding: 13px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 0.25%;
  margin-right: 0.25%;
  border-radius: 5px;
  background-color: $background; 
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;

  &:hover {
    background-color: $primary;
  }

  &:active {
    background-color: $background;
  }
} 

.settings {
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;
  transition: transform .25s ease-in-out;

  &:hover {
    transform: rotate(60deg);
  }
}

.title {
  margin:auto;
  width: 50%;
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
}

.subtitle {
  margin:auto;
  width: 50%;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}

.rows {
  background-color: $primary2;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.toolbar {
  width: 100%;
  height: 100%;
  background-color: $primary;
}

.toolbar-buttons {
  margin: auto;
  width: 97.5%;
}

.toolbar-body {
  box-sizing: border-box;
  margin: auto;
  margin-top: 0px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  background-color: $primary2; 
  width: 97.5%;
  height: 100%;
}

.toolbar-button {
  box-sizing: border-box;
  min-width: 100px;
  background-color: $primary; 
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;

  &:hover {
    background-color: $primary2;
  }
}

.toolbar-button-selected {
  box-sizing: border-box;
  min-width: 100px;
  background-color: $primary2; 
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 6px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;

  &:hover {
    background-color: $primary2;
  }
}

.toolbar-execute-button {
  box-sizing: border-box;
  min-width: 100px;
  background-color: $accent2; 
  border-radius: 10px;
  margin: 5px;
  margin-left: 0;
  border: 1px solid $accent;
  padding: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;

  &:hover {
    background-color: $accent;
  }

  &:active {
    background-color: $accent2;
  }
}

.input-container {
  width: 100%;
  height: 100%;
  background-color: $background;
}

.editor {
  width: 100%;
  overflow: auto;
}

.editor, .cm-theme, .cm-editor, .cm-scroller, .cm-content {
  height: 100% !important; 
}

.editor * {
  font-family: monospace !important;
  font-size: 20px;
}

.input {
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  border: 0px;
}

.tables {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: auto;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: $primary;
}

.tables-top {
  background-color: $background;
  padding: 14px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.table-cell {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 12px;
  padding-bottom: 17px;
  font-size: 13px;
  background-color: transparent;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: $primary2;
  }
}

.table-cell-active {
  background-color: $primary2;
}

.schema {
  background-color: $primary2;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 12.5px;
  box-sizing: border-box;
}

.type-label {
  font-size: 11.5px;
  color: $text;
}

.seperator {
  height: 5px;
}

.chevron {
  float: left;
  margin-right: 7px;
}

.content-container {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.tables-container {
  border-left: 0px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.content-area {
  border-top: 0px;
  border-left: 0px;
  overflow: auto;
}

.resize-handle-vertical {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s background-color;
  width: 2px;
  cursor: col-resize !important;

  &::before {
    position: relative;
    display: block;
    content: '';
    width: 10px;
    height: 100%;
    transform: translate(-50%, 0);
    z-index: 100;
  }
}

.resize-handle-horizontal {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s background-color;
  height: 2px;
  cursor: row-resize !important;

  &::before {
    position: relative;
    display: block;
    content: '';
    height: 10px;
    transform: translate(0%, -50%);
    z-index: 100;
  }
}

.resize-handle-vertical:hover, .resize-handle-horizontal:hover {
  background-color: $accent2;
  transition-delay: 0.2s;
}

.error-message {
  color: red;
  font-family:'Courier New', Courier, monospace;
  margin-top: 5px;
}

.info-title {
  margin:auto;
  width: 50%;
  text-align: center;
  font-size: 35px;
}

.info-text {
  margin:auto;
  width: 50%;
  margin-top: 5px;
  text-align: center;
  font-size: 15px;
}