@use '../sass/colors.scss' as *;
@import '../sass/modals.scss';
@import '../sass/scrollbars.scss';

* {
  font-family: 'Inter', sans-serif;
}
*:focus {
    outline: none;
}

html, body, .main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  color: $text;
  background-color: $background;
}

.main {
  display: grid;
  grid-template-rows: 60px 1fr;
  max-height: 100%;
}

.home-container {
  height: 100%;
  width: 100%;
  background-color: $background;
}

button {
  color: $text;
}

table {
  width: 100%;
  border-spacing: 0 0px;
  color: $text;
}

thead th {
  padding: 12.8px;
  text-align: left;
  position: sticky;
  top: 0px;
  background-color: $primary;
}

tbody td {
  padding: 15px;
  font-family: monospace;
  font-size: 15px;
  color: $text-secondary;
}

.value-row2 {
  background-color: $primary;
}

.header {
  background-color: $background;
  box-sizing: border-box;
  padding-top: 6px;
  color: $text;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.new-sql {
  height: 85%;
  width: 7%;
  box-sizing: border-box;
  padding: 13px;
  border: 0;
  margin-left: 0.5%;
  border-radius: 5px;
  background-color: $accent;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  color: $text-highlight; 
}

.load-sql {
  height: 85%;
  width: 7%;
  box-sizing: border-box;
  padding: 13px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 0.5%;
  border-radius: 5px;
  background-color: $background; 
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.download-sql {
  height: 85%;
  width: 10%;
  box-sizing: border-box;
  padding: 13px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 0.5%;
  border-radius: 5px;
  background-color: $background;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.load-sql:hover {
  background-color: $primary;
}

.download-sql:hover {
  background-color: $primary;
}

.new-sql:hover {
  background-color: $accent2;
}

.fa-2x {
  font-size: 2.5em;
}

.settings {
  float: right;
  margin-right: 0.5%;
  cursor: pointer;
}

.svg-inline--fa.fa-w-16 {
  width: 0.65em;
}

.title {
  margin:auto;
  width: 50%;
  text-align: center;
  margin-top: 5%;
  font-size: 50px;
}

.subtitle {
  margin:auto;
  width: 50%;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}

.rows {
  background-color: $primary2;
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}

.input-container {
  width: 100%;
  height: 100%;
  background-color: $background;
}

.editor {
  width: 100%;
  overflow: auto;
}

.editor, .cm-theme, .cm-editor, .cm-scroller, .cm-content {
  height: 100% !important; 
}

.editor * {
  font-family: monospace !important;
  font-size: 20px;
}

.input-container-again {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.input {
  width: 100%;
  height: 100%;
  resize: none;
  box-sizing: border-box;
  border: 0px;
}

.run-button {
  height: 100%;
  width: 100%;
  border: 0px;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  margin-left: 0.5%;
  background-color: $accent;
  cursor: pointer;
}

.run-button:hover {
  background-color: $accent2;
}

.tables {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: auto;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: $primary;
}

.tablename {
  position: relative;
}

.tablename:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: $accent;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.15s ease-in-out;
}

.tablename:hover:before {
  visibility: visible;
  transform: scaleX(1.1);
}

.tables-top {
  background-color: $background;
  padding: 14px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.table-cell {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  border: 0;
  padding: 12px;
  padding-left: 20px;
  font-size: 13px;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.schema {
  background-color: $secondary;
  width: 90%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 12.5px;
  box-sizing: border-box;
  margin-left: 5%;
  border-radius: 10px;
}

.icon {
  margin-right: 5px;
}

.type-label {
  font-size: 11.5px;
  color: $text;
}

.seperator {
  height: 5px;
}

.chevron {
  float: right;
}

.content-container {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.tables-container {
  border-left: 0px;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.content-area {
  border-top: 0px;
  border-left: 0px;
  overflow: auto;
}

.resize-handle-vertical {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s background-color;
  width: 2px;
  cursor: col-resize !important;
}

.resize-handle-horizontal {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s background-color;
  height: 2px;
  cursor: row-resize !important;
}

.resize-handle-horizontal::before {
  position: relative;
  display: block;
  content: '';
  height: 10px;
  transform: translate(0%, -50%);
  z-index: 100;
}

.resize-handle-vertical::before {
  position: relative;
  display: block;
  content: '';
  width: 10px;
  height: 100%;
  transform: translate(-50%, 0);
  z-index: 100;
}

.resize-handle-vertical:hover, .resize-handle-horizontal:hover {
  background-color: $accent2;
  transition-delay: 0.2s;
}